// This is the primary color palette.  Use this to create color vars with meaningful names
$color-primary-0: #D2691E;	// Main Primary color */
$color-primary-1: #FFAF76;
$color-primary-2: #E58948;
$color-primary-3: #A94E0D;
$color-primary-4: #813600;

$color-secondary-1-0: #D2921E;	// Main Secondary color (1) */
$color-secondary-1-1: #FFCE76;
$color-secondary-1-2: #E5AD48;
$color-secondary-1-3: #A9710D;
$color-secondary-1-4: #815300;

$color-secondary-2-0: #1F478B;	// Main Secondary color (2) */
$color-secondary-2-1: #5978AD;
$color-secondary-2-2: #395C98;
$color-secondary-2-3: #123570;
$color-secondary-2-4: #072456;

$color-complement-0: #138474;	// Main Complement color */
$color-complement-1: #4CA498;
$color-complement-2: #2D9082;
$color-complement-3: #086A5C;
$color-complement-4: #005146;

$color-black: #2c3e50;
$color-gray: #a9a9a9;
